version: '3'
services:
  db:
     image: postgres:latest
     container_name: majorizer_db
     restart: on-failure
     env_file:
       - .env
     ports:
       - "5555:5432"
  web:
    tty: true
    stdin_open: true
    build: .
    container_name: majorizer
    restart: on-failure
    env_file:
      - .env
    depends_on:
       - db
    ports:
      - "8080:5000"
    volumes:
      - ./src:/srv/app/src:ro
