<div class='block'>
    <div style="padding: 8px">
        {% if logged_in %}
            <form method="POST">
                {% csrf_token %}
                {% if schedules %}
                    <div class="row" style="padding: 8px;">
                        <div class="col">
                            <h5 style="color: rgb(153, 153, 153);">Selected Schedule: <span style="color: skyblue;">{{ active_schedule.name }} </span>| 
                                {% if active_schedule.is_fall_semester %} <span style="color: rgb(110, 143, 156);">Fall</span> | {% else %} <span style="color: skyblue;">Spring </span>| {% endif %}
                                <span style="color: rgb(110, 143, 156);">{{ active_schedule.year }}</span></h5>
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Select Schedule</span>
                            <select name="schedules" class="form-control">
                                    {% for s in schedules %}
                                        <option value="{{ s.pk }}">{{ s.name }}</option>
                                    {% endfor %}
                            </select>
                            <button type="submit" name="schedule_select_button" class="btn btn-outline-success btn-sm" style="padding: 8px;">Select</button>
                        </div>
                        <div class="col-md-auto">
                            <button type="submit" name="schedule_delete_button" class="btn btn-outline-danger btn-sm" style="padding: 8px;">Delete</button>
                        </div>
                    </div>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Monday</th>
                                <th scope="col">Tuesday</th>
                                <th scope="col">Wednesday</th>
                                <th scope="col">Thursday</th>
                                <th scope="col">Friday</th>
                            </tr>
                        </thead>
                        {% for timeslot in timeslots %}
                        <tr>
                            <th scope="row">{{ timeslot.time }}</th>
                            {% for class in timeslot.classes%}
                                {% if class == "none" %}
                                    <td></td>
                                {% elif class == "up" %}
                                    <td></td>
                                {% else %}
                                    <td>
                                        <div class="input-group">
                                            {{ class.0 }} &ensp; <button type="submit" name="remove_course_from_schedule_button" class="btn btn-outline-danger btn-sm py-0" value="{{ class.1 }}" style="font-size: 0.7em;">X</button>
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </table>

                    {% include 'new_schedule.html' %}

                {% else %}
                    <h6>You have no schedules! Make one! Now!</h6>
                    {% include 'new_schedule.html' %}
                {% endif %}
            </form>
        {% else %}
            <h1>Log in to make a schedule :)</h1>
        {% endif %}
    </div>
</div>