<div class='block'>
    <table class="schedule_table">
        <tr>
            <th class="schedule_table_th"></th>
            <th class="schedule_table_th">Monday</th>
            <th class="schedule_table_th">Tuesday</th>
            <th class="schedule_table_th">Wednesday</th>
            <th class="schedule_table_th">Thursday</th>
            <th class="schedule_table_th">Friday</th>
        </tr>
        {% for timeslot in timeslots %}
        <tr>
            <th class="schedule_table_th">{{ timeslot.time }}</th>
            {% for class in timeslot.classes%}
                {% if class == "none" %}
                    <td class="schedule_table_td"></td>
                {% else %}
                    <td class="schedule_table_td">{{ class }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</div>