<div class='block'>
    <div style="padding: 8px">
        <form method="POST">
            {% csrf_token %}
            {% if schedules %}
                <div class="row" style="padding: 8px;">
                    <div class="col">
                        <h4 style="color: white;">Selected Schedule: {{ active_schedule.name }}</h4>
                    </div>
                    <div class="col input-group">
                        <span class="input-group-text">Select Schedule</span>
                        <select name="schedules" class="form-control">
                                {% for s in schedules %}
                                    <option value="{{ s.pk }}">{{ s.name }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-auto">
                        <button type="submit" name="schedule_select_button" class="btn btn-outline-success btn-sm" style="padding: 8px;">Select</button>
                    </div>
                </div>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Monday</th>
                            <th scope="col">Tuesday</th>
                            <th scope="col">Wednesday</th>
                            <th scope="col">Thursday</th>
                            <th scope="col">Friday</th>
                        </tr>
                    </thead>
                    {% for timeslot in timeslots %}
                    <tr>
                        <th scope="row">{{ timeslot.time }}</th>
                        {% for class in timeslot.classes%}
                            {% if class == "none" %}
                                <td></td>
                            {% elif class == "up" %}
                                <td></td>
                            {% else %}
                                <td>
                                    <div class="input-group">
                                        {{ class.0 }} &ensp; <button type="submit" name="remove_course_from_schedule_button" class="btn btn-outline-danger btn-sm py-0" value="{{ class.1 }}" style="font-size: 0.7em;">X</button>
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}

                </table>

                <div class="row input-group">
                    <div class="col input-group">
                        <span class="input-group-text">New Schedule Name</span>
                        <input type="text" class="form-control" placeholder="Name" maxlength="64" name="new_schedule_name">
                    </div>
                </div>
                <div class="float-end" style="padding: 22px;">
                    <button type="submit" class="btn btn-outline-info btn-sm float-right" style="padding: 8px;" name="new_schedule_button">Create New Schedule</button>
                </div>

            {% else %}
                <h6>You have no schedules! Make one! Now!</h6>
                <div class="row input-group">
                    <div class="col input-group">
                        <span class="input-group-text">New Schedule Name</span>
                        <input type="text" class="form-control" placeholder="Name" maxlength="64" name="new_schedule_name">
                    </div>
                </div>
                <div class="float-end" style="padding: 22px;">
                    <button type="submit" class="btn btn-outline-info btn-sm float-right" style="padding: 8px;" name="new_schedule_button">Create New Schedule</button>
                </div>
            {% endif %}
        </form>
    </div>
</div>