<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
            <a href="/" class="navbar-brand"><img src="/static/images/majorizer_logo.png"></a>
            {% if not logged_in %}
            <div class="row">
                <div class="col">
                    {% include 'registration/login.html' %}
                </div>
                <div class="col-md-auto">
                    <a href="/register" class="btn btn-outline-info btn-sm" style="padding: 8px;">Register</a>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col">
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" name="logout_button" class="btn btn-outline-danger">Log Out</button>
                        </form>
                    </div>
                    <h6 style="color: white;" class="col">Logged in as {{ user.username }}</h6>
                </div>
            {% endif %}
    </div>
</nav>