body {
    background-color: black;
    /* NEVER UNCOMMENT 😱💀
    background-image: url("https://c.tenor.com/0pO-d7FH3QgAAAAi/spongebob-meme-spongebob.gif");
    */
}

h1 {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
    display: inline;
  }
  
  li button {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
  li button:hover {
    background-color: #111111;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
.container {
  display: flex;
}

.block {
  flex: 1;
  background-color: #333333;
  border: solid;
}

#class_search {
  max-width: 30%;
}

.schedule_table, .schedule_table_th, .schedule_table_td {
  border: 2px solid darkgray;
  border-collapse: collapse;
  color: white;
  table-layout: fixed;
  width: 100px;
}

.schedule_table {
  margin: 0 auto;
}

form {
  display: inline;
}